@page
@model comaiz.Pages.ContractRates.IndexModel

@{
    ViewData["Title"] = "ContractRates";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContractRate[0].Contract)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractRate[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractRate[0].Rate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ContractRate)
        {
            var contractName = item.Contract != null ? item.Contract.Schedule : string.Empty;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => contractName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
