@page
@model comaiz.Pages.Contracts.IndexModel

@{
    ViewData["Title"] = "Contracts";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contract[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contract[0].Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contract[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contract[0].ChargeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contract[0].Client)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Contract)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChargeType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client!.ShortName)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
